.container
  = render 'devise/shared/mercari-header'
  %main.main 
    .container-main.login
      .container-main__inner
        .container-main__inner--no-account
          %p アカウントをお持ちでない方はこちら
          = link_to "新規会員登録", new_user_information_path
      .container-main__inner
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          = fa_icon 'facebook-square', class: 'facebook-button'
          facebookでログイン
        %button#google-login.btn-default.btn-sns.btn-sns-google
          googleでログイン
          
      .login
        = form_for(resource, as: resource_name, url: user_registration_path()) do |f|   
          .container-main__inner
            .container-main__inner--email-login
              .field
                = f.email_field :email, placeholder: 'メールアドレス', autocomplete: "email", class: 'input-default'
              .field
                = f.password_field :password, placeholder: 'パスワード', autocomplete: "current-password", class: 'input-default'
              .actions
                = f.submit "ログイン", class: 'login-submit btn-default btn-red'
    = render 'devise/shared/footer'



-#     = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"
-#   - if devise_mapping.rememberable?
-#     .field
-#       = f.check_box :remember_me
-#       = f.label :remember_me
-#   .actions
-#     = f.submit "Log in"

-# = render "devise/shared/links"