.global
  = render './shared/global-header'
  .head-list
    - breadcrumb :logaut
    = render "shared/breadcrumbs"
  %main.main-container
    .content
      .content__inner
        = link_to user_logout_path, method: :delete,  class: 'btn-default btn-mail' do
          ログアウト
    // サイドメニュー
    = render './shared/mypage-sidebar'
  // フッター
  = render './shared/global-footer'