.container
  %header.header
    %h1
      = link_to root_path do
        - if session[:tosaben] == "true"
          = image_tag 'tosaben-logo.png', class: 'logo tosaben-logo'
        - else
          = image_tag 'logo.svg', class: 'logo'
  %main.main
    %section.sell-container-main
      #sell-container
        .sell-container-inner
          %h2.container-main__head
            = tosaben("商品の情報を入力", "商品の情報を入れてや")
          = form_for @item, url: item_path, method: :patch, html:{class:'sell-form'} do |f|
            .sell-upload-head
              %h3.sell-upload-text
                = tosaben("出品画像", "出品画像で")
                %span.form-group--require 必須
              %p 最大5枚までアップロードできます
              .sell-image-uploader.images_field
                .sell-image-container.upup
                  .sell-image-items-0
                  - if @item.images.attached?
                    - @item.images.each do |image|
                      .image-box
                        = image_tag image
                        .sell-upload-button
                          = f.hidden_field :images , name: "item[images][]", value: "#{image.blob.id}", style: "display: none;", class: "item-images-input"
                          = link_to "編集", "", class: "btn-edit"
                          = file_field "edit-image","" , class: "edit-image-file-input file-input", style: "display: none;"
                          = link_to "削除", "", class: "btn-delete"
                %label.sell-image-drop-box-0
                  = f.file_field :images, multiple: true, class: "img_file", value: @item.images[0], id: "uploder"
                  %pre.visible-pc
                    = tosaben("クリックしてファイルをアップロード", "クリックしてファイルをアップロードしいよ。")
              - if @item.errors.messages[:images].present?  
                - @item.errors.messages[:images].each do |message|
                  %ul.error-message
                    %li= tosaben("正しい画像を添付してください。(png,jpeg,jpg)", "ちゃんとした画像を添付してよ。(png,jpeg,jpg)")      
            .sell-content.clearfix
              .form-group
                %label 商品名
                %span.form-group--require 必須
                %br/
                = f.text_field :name, class: "input-default", placeholder:"商品名(必須40文字まで)", value: @item.name
                - if @item.errors.messages[:name].present?
                  - @item.errors.messages[:name].each do |message|
                    %ul.error-message
                      %li= "商品名#{message}"
              .form-group
                %label 商品の説明
                %span.form-group--require 必須
                %br/
                = f.text_area :description, class:"textarea-default", placeholder: "商品の説明(必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入したジャケットです。ライドグレーで傷はありません。合わせやすいのでおすすめです。",rows:"5",value: @item.description
                - if @item.errors.messages[:description].present?
                  - @item.errors.messages[:description].each do |message|
                    %ul.error-message
                      %li= "商品の説明#{message}"
            .sell-content#category-parent
              %h3.sell-head
                商品の詳細
              .sell-select-box
                .form-group
                  %label カテゴリー
                  %span.form-group--require 必須
                  .select-wrap#category
                    = f.collection_select :grand_category_id, Category.all.order("id ASC").limit(3), :id, :name, prompt: "---", class: "select-default", name: 'item[category_id][]'
                    - if @item.errors.messages[:category_id].present?
                      - @item.errors.messages[:category_id].each do |message|
                        %ul.error-message
                          %li= "カテゴリー#{message}"
                    = f.select :parent_category_id, @child_category.map{ |category| [category.name, category.id, { 'data-category' => category.id }, {class: "#{category.id}"} ] }
                    = f.select :category_id, @grandgrchild_category.map{ |category| [category.name, category.id, { 'data-category' => category.id }, {class: "#{category.id}"} ] }
                #size
                .form-group
                  %label 商品の状態
                  %span.form-group--require 必須
                  .select-wrap
                    = f.collection_select :condition, Condition.all, :id, :name, class: 'select-default' ,prompt: "---"
                    - if @item.errors.messages[:condition].present?
                      - @item.errors.messages[:condition].each do |message|
                        %ul.error-message
                          %li= "商品の状態#{message}"
            .sell-content
              %h3.sell-head 配送について
              = link_to "https://www.mercari.com/jp/help_center/article/68", class:"form-question" do
                ?
              .sell-select-box
                .form-group#delivery
                  %label 配送料の負担
                  %span.form-group--require 必須
                  .select-wrap
                    = f.collection_select :shipping_charge_id, ShippingCharge.all, :id, :name, class: 'select-default', prompt: "---", id:"shipping_charge"
                    - if @item.errors.messages[:shipping_charge_id].present?
                      - @item.errors.messages[:shipping_charge_id].each do |message|
                        %ul.error-message
                          %li= "配送料の負担#{message}"
                .form-group#shipping_method_edit
                  %label 配送の方法
                  %span.form-group--require 必須
                  .select-wrap
                    = f.collection_select :shipping_method_id, @shipping_method, :id, :name, class: 'select-default', prompt: "---", id:"shipping_charge"      
                .form-group
                  %label 発送元の地域
                  %span.form-group--require 必須
                  .select-wrap
                    = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: 'select-default' ,prompt: "---"
                    - if @item.errors.messages[:prefecture_id].present?
                      - @item.errors.messages[:prefecture_id].each do |message|
                        %ul.error-message
                          %li= "発送元の地域#{message}"
                .form-group
                  %label 発送までの日数
                  %span.form-group--require 必須
                  .select-wrap
                    = f.collection_select :estimated_delivery_id, EstimatedDelivery.all , :id, :name, class: 'select-default' ,prompt: "---"
                    - if @item.errors.messages[:estimated_delivery_id].present?
                      - @item.errors.messages[:estimated_delivery_id].each do |message|
                        %ul.error-message
                          %li= "発送までの日数#{message}"
            .sell-content
              %h3.sell-head
                販売価格(300~9,999,999)
              =link_to "https://www.mercari.com/jp/help_center/article/64/",class: "form-question" do
                ?
              .sell-select-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      %label.l-left
                        価格
                        %span.form-group--require 必須
                      .l-right-sell-price-input
                        ¥
                        %div
                          = f.number_field :price ,class:"input-default",placeholder:"例）300", value: @item.price
                  - if @item.errors.messages[:price].present?
                    - @item.errors.messages[:price].each do |message|
                      %ul.error-message
                        %li= "価格#{message}"
                  %li#sell_tex.clearfix
                    .l-left
                      販売手数料（10％）
                    .l-right -
                  %li#sell_return.clearfix-bold
                    .l-left
                      販売利益
                    .l-right -
            .sell-content.sell-btn-box
              %div
                %p
                  = link_to "https://www.mercari.com/jp/help_center/getting_started/prohibited_items/" do
                    禁止されている出品
                  、
                  = link_to "https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/" do
                    行為
                  = tosaben("を必ずご確認ください。", "を確認してよ！")
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/" do
                    偽ブランのの販売
                  = tosaben("は犯罪であり処罰される可能性があります。", "は犯罪やし処罰されるき。")
                %p
                  また、出品をもちまして
                  = link_to "https://www.mercari.com/jp/seller_terms/" do
                    加盟店契約
                  = tosaben("に同意したことになります。", "に同意したことなるき。")
              %button.btn-default.btn-red{type: "submit"}
                = tosaben("変更する", "変更ぜよ！")
              = link_to "#" ,class:"btn-default btn-gray" do
                = tosaben("もどる", "もどるぜよ！")
  = render 'devise/shared/footer'