.global
  = render 'shared/global-header'
  = render 'layouts/slider'

  // 人気のカテゴリ
  .popular-category
    -# %h2= tosaben("人気のカテゴリー", "りぐったしんきがあがって来ちゅう！")
    %h2= tosaben("人気のカテゴリー", "りぐったがが届いちゅうで！")
    .popular-category__list-box
      %ul
        %li.popular-category__list-box__list
          = link_to 'レディース', '#lady'
        %li.popular-category__list-box__list
          = link_to 'メンズ', '#men'
        %li.popular-category__list-box__list
          = link_to '家具　キッチン道具　ベッド', '#furniture'

  .item-container-category
    // レディース新着
    .item-container-category.ladies
      .item-container-category__header
        %h3#lady= tosaben("レディース新着アイテム", "はちきんのしんき！")
        = link_to 'もっと見る　＞', '#'
      .item-container-category__content
        .item-container-category__content__cards
          - @items_lady.each do |item|
            %div
              = link_to item_path(item.id), class: 'style_link' do
                %figure.style_card
                  .style_thumbnail
                    %span=item.price.to_s(:currency,format: '¥ %n')
                    = image_tag item.images[0] if item.images[0]
                  %figcaption
                    %span=item.name
                
    .item-container-category.mens
      .item-container-category__header
        %h3#men= tosaben("メンズ新着アイテム", "いごっそうにもしんき！")
        = link_to 'もっと見る　＞', '#'
      .item-container-category__content
        .item-container-category__content__cards
          - @items_men.each do |item|
            %div
              = link_to item_path(item.id), class: 'style_link' do
                %figure.style_card
                  .style_thumbnail
                    %span=item.price.to_s(:currency,format: '¥ %n')
                    = image_tag item.images[0] if item.images[0]
                  %figcaption
                    %span=item.name

    .item-container-category.interia
      .item-container-category__header
        %h3#furniture= tosaben("家具　キッチン道具　ベッド", "ちゃがまらん家具もあがっちゅう〜！")
        = link_to 'もっと見る　＞', '#'
      .item-container-category__content
        .item-container-category__content__cards
          - @items_interia.each do |item|
            %div
              = link_to item_path(item.id), class: 'style_link' do
                %figure.style_card
                  .style_thumbnail
                    %span=item.price.to_s(:currency,format: '¥ %n')
                    = image_tag item.images[0] if item.images[0]
                  %figcaption
                    %span=item.name

  = render 'shared/global-footer'
  = render 'shared/tosaben-switch'