.global
  = render './shared/global-header'
%section.item-box-container
  %h1.item-name
    %span=@item.name

  .item-main-content.clearfix
    .item-photo
      .owl-carousel.owl-loaded.owl-drag
        .owl-stage-outer
          .owl-stage
            .owl-item.active
              .owl-item-inner.is-higher-height
                = image_tag @item.images[0] if @item.images[0]
        .owl-nav.disabled
          .owl-prev prev
          .owl-next next
        .owl-dots
          - @item.images.each do |image|
            .owl-dot
              %span
              .owl-dot-inner
                = image_tag image
    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to "#" do 
              %span=@item.user.nickname
            %div
              .item-user-ratings
                %i.icon-good
                %span 1
              .item-user-ratings
                %i.icon-normal
                %span 0
              .item-user-ratings
                %i.icon-bad
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to "#" do
              %div
                %span=@item.category.parent.parent.name
            = link_to"#" do
              .item-detail-table-sub-category
                %i.icon-arrow-right
                %span=@item.category.parent.name
            = link_to"#" do
              .item-detail-table-sub-sub-category
                %i.icon-arrow-right
                %span=@item.category.name
        %tr
          %th ブランド
          %td
            = link_to"#" do
              %div
                コーチ
        %tr
          %th 商品の状態
          %td=Condition.find(@item.condition).name
        %tr
          %th 配送料の負担
          %td=@item.shipping_charge.name
        %tr
          %th 配送の方法
          %td=@item.shipping_method.name
        %tr
          %th 配送元地域
          %td
            = link_to"#" do
              = @item.prefecture.name
        %tr
          %th 発送日の目安
          %td=@item.estimated_delivery.name

  .item-price-box.text-center
    %span.item-price.bold
      =@item.price.to_s(:currency,format: '¥ %n')
    %span.item-tax (税込)
    %span.item-shipping-fee 送料込み
  - if (@item.trade_status == 2)
    = link_to "#", class:"btn-gry nonclick mt-4" do
      = tosaben("売り切れました", "売り切れたきね！")
    - if @item.user_id == current_user&.id
      %br  
      = link_to item_path, method: :delete, class:"btn-gry", data: { confirm: '本当に削除しますか？' } do
        = tosaben("この商品を削除する", "やめちょこう")
  - else
    - unless @item.user_id == current_user&.id # 自分のアイテムの場合は「購入ボタン」表示しない
      = link_to purchase_buy_path(@item.id), class:"item-buy-btn" do
        = tosaben("購入画面に進む", "買おうかにぁあ")
  .item-description.f14
    %p.item-description-inner
      %span=@item.description
    .item-button-left
      %button.item-button.item-button-like
        = render partial: 'items/iine', as: :item
      %button.item-button.item-button-report.clearfix
        %i.icon-flag
        %span 不適切な商品の報告
      %input{name: "like_add_url", type: "hidden", value: "https://www.mercari.com/jp/like/add/m61354018553/"}
      %input{name: "like_del_url", type: "hidden", value: "https://www.mercari.com/jp/like/delete/m61354018553/"}
      %input{name: "__csrf_value", type: "hidden", value: "2ee3ef87b93078e25e5f53367d18bdf4ff687f333b583923c2174940bd0a5cd24d3e642fc3fe5d15afdd5713b614794da3f4331ba51dc85ebe905ad8bde490282"}
    .item-button-right
      = link_to"https://www.mercari.com/jp/safe/description/" do
        %i.icon-lock
        %span あんしん・あんぜんへの取り組み

- if (@item.user_id == current_user&.id) && (@item.trade_status != 2) 
  .control-area
    .edit-button
      = link_to edit_item_path, class:"btn-red" do
        = tosaben("商品の編集", "いかんこれ変えちょこう")
      %p or
      - if @item.trade_status == 1
        = link_to "#", class:"btn-gry" do
          = tosaben("出品を一旦停止する", "一旦止めちょこうか")
      - if @item.trade_status == 3
        = link_to "#", class:"btn-red" do
          = tosaben("出品を再開する" , "やっぱ出しちょこう")
      %br  
      = link_to item_path, method: :delete, data: { confirm: '本当に削除しますか？' }, class:"btn-gry" do
        = tosaben("この商品を削除する", "やめちょこう")

.item-detail-message.pb-4
  .message-container
    - if @comments.present?
      .message-content
        %ul.message-items
          = render partial: 'user_comments',locals: { item: @item, comments: @comments}
    - if user_signed_in?
      .message-content
        .new_comment   
        = form_for @comment, url: comments_items_path(@item), method: :post do |f|
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.text_area :content, class: "textarea-default"
          %button.message-submit.btn-default.btn-gray{type: "submit"}
            %span= tosaben("コメントする", "なんか言うかえ？") 

= render './shared/global-footer'

