.global
  = render './shared/global-header'
  .head-list
    - breadcrumb :card
    = render "shared/breadcrumbs"
  %main.main-container
    .content
      %h2.container-main__head
        支払い方法
        .container-main__inner
          .container-main__inner__content
            %section
              %h3 クレジットカード一覧
            - if current_user.card.present? # カードが存在するとき
              = image_tag "#{formated_card_brand(@card)}", height: '60', width: '60'
              %br
              = formated_card_number(@card)
              %br
              = formated_card_time_limit(@card)

            - else # カードが存在しないとき
              %section.settings-add-card
                = link_to card_create_mypage_index_path, class: 'btn-default btn-mail' do
                  = fa_icon 'credit-card'
                  クレジットカードを追加する

            %p.container-main__text-right
              = link_to '支払い方法について ', '#'
              = fa_icon 'chevron-right'

    // サイドメニュー
    = render './shared/mypage-sidebar'
  // フッター
  = render './shared/global-footer'
