!!!
%html
  %head

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title FreemarketSample2a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    // コンテンツスライダー
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css", :rel => "stylesheet"}/ 
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://js.pay.jp/", :type => "text/javascript"}
  %body
    = yield
